
/*The title and product image are centered.*/

/*The availability element extends the full width of the card, with a dark 
grey background and yellow text.*/

.card {
	width: 30%;
	border: 1px solid lightblue;
	display: flex;
	flex-direction: column;
}
img {
	max-width: 100%;
}

h2{
	border: 1px dotted lightgray;
}

/*Notice that the text for the description in the image is justified.*/
.description {
	text-align: justify;
}
/*The text for the product specification details and pricing details is bold.*/
.product-specs {
	font-weight: bold;
}
.pricing {
	font-weight: bold;
}